accordion(close-others="scope.accordion")
	accordion-group(is-open="status.open")
		accordion-heading Configuration
			i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
		form.form-horizontal(ng-controller="ConfigurationCtrl")
			div.form-group
				label.col-sm-2(control-label, for="inputHour") Salary per Hour
				div.col-sm-10
					//div.input-group-addon €
					input.form-control#inputHour(type="text", ng-model="configuration.salaryPerHour", placeholder="per hour")

			div.form-group
				label.col-sm-2(control-label, for="inputCall") Salary at Call
				div.col-sm-10
					//div.input-group-addon €
					input.form-control#inputCall(type="text", ng-model="configuration.salaryPerCall", placeholder="per day")

			div.form-group
				div.col-sm-offset-2.col-sm-10
					button.btn.btn-primary(ng-click="saveConfig()") Save Config