doctype html
html(ng-app="togglApp")
    head
        title Toggl Billing App
        meta(charset="utf-8")
        link(rel="stylesheet", href="bootstrap/dist/css/bootstrap-lumen.min.css")

    body
        h1 TITOLO
        div(ui-view)


        script(src="angular/angular.min.js")
        script(src="angular-ui-router/release/angular-ui-router.min.js")
        script(src="js/app.js")
        script(src="js/project.js")

        //script(data-main="js/main.js" src="js/require.js")